// 主题色
$theme: #32445b;
// 字体颜色
$fontColor: #333;

// 头部背景色
$topBG: #ffffff;
// 头部icon颜色
$topIcon: #26479d;

// 侧边栏背景色
$sideBG: #32445b;
// 侧边栏选中颜色
$sideActiveBG: #2370d0;
$sideActiveFC: #fff;

$red: #ff6262;

//git test xxx
